@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.audio-player {
  margin-bottom: 16px;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.text-center {
  height: 96px;
  padding-top: 5px;
}

.audio-player #songTitle {
  color: white;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}

.audio-player #artistName {
  font-family: monospace;
  color: #9ca3af;
  font-size: 1rem;
}

/* Gabungkan kontainer controls dan progress */
.audio-player .controls-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  padding-right: 26px;
  padding-left: 26px;
}

/* Kontainer untuk controls */
.audio-player .controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

/* Gaya untuk tombol kontrol */
.audio-player .controls button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
}

/* Kontainer untuk progress */
.audio-player .progress-container {
  font-family: monospace;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9ca3af;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
}

.audio-player .progress-bar {
  flex: 1;
  margin: 0 8px;
  height: 4px;
  background-color: #4b556321;
  border-radius: 9999px;
  position: relative;
}

.audio-player #progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: white;
  border-radius: 9999px;
  width: 0%;
}

.audio-player #currentTime,
.audio-player #duration {
  font-size: 1rem;
  color: #9ca3af;
}
