body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: #fff;
}
.container {
    width: 90%;
    padding: 48px;
    max-width: 1200px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
}
.bento {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    flex-grow: 1;
    flex: 1 1 auto;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bento .nama:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.329));
}

.bento .nama {
    border-radius: 0px;
    height: 100%;
    width: 256px;
    transition: all 0.3s;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}