@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    filter: grayscale(100%);
    transition: all 0.5s;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 50%;
    filter: blur(1em);
}


.container {
    width: 1000px;
    height: 700px;
    padding: 2em;
    display: flex;
    gap: 1em;

}
.col-left {
    flex: 2;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-right {
    flex: 1;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.row {
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
    overflow: hidden;
}
.row3{
    display: flex;
    gap: 1em;
    border: none;
}
.row-col {
    flex: 1;
    border: 2px solid red;
    border-radius: 2em;
    backdrop-filter: blur(2em);
}

.row1 h1 {
    color: whitesmoke;
    font-family: Montserrat;
    font-weight: 900;
    padding: 24px 24px 8px;
}
.row1 p {
    color: whitesmoke;
    font-family: monospace;
    padding-left: 24px;
    padding-right: 22px;
    padding-top: 8px;
}

.row2 img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 2em;
    object-fit: cover;
}

.row2 p{
    position: absolute;
    backdrop-filter: blur(3px);
    bottom: 1rem;  /* Set to 4 in Tailwind, which is 1rem */
    left: 1rem;    /* Set to 4 in Tailwind, which is 1rem */
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    border-radius: 9999px;  /* rounded-full */
    padding-left: 1rem;     /* px-4 */
    padding-right: 1rem;    /* px-4 */
    padding-top: 0.5rem;    /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    box-shadow: 0  0px 8px  rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-family: monospace;
}

#image {
    transition: all 0.5s ease-in-out;
  }
  
  #image.fade {
    opacity: 0;
  }
  

.location-box {
    position: absolute;
    backdrop-filter: blur(3px);
    bottom: 1rem;  /* Set to 4 in Tailwind, which is 1rem */
    left: 1rem;    /* Set to 4 in Tailwind, which is 1rem */
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
    border-radius: 9999px;  /* rounded-full */
    padding-left: 1rem;     /* px-4 */
    padding-right: 1rem;    /* px-4 */
    padding-top: 0.5rem;    /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    box-shadow: 0  0px 8px  rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.location-text {
    font-size: 1.125rem;  /* text-lg */
    font-weight: 600;     /* font-semibold */
}


/* Bento Backgrounds */

.row1 {    
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.5));
    box-shadow: 0  0px 8px  rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2em);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.row2 {
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.5));
    box-shadow: 0  0px 8px 0 rgba(255, 255, 255, 0.15);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.left {
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.5));
    box-shadow: 0  0px 8px 0 rgba(255, 255, 255, 0.15);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.right {
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.5));
    box-shadow: 0  0px 8px 0 rgba(255, 255, 255, 0.15);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.top {

    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.5));
    box-shadow: 0  0px 8px 0 rgba(255, 255, 255, 0.15);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.bottom {
    background: linear-gradient(145deg,  rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.5));
    box-shadow: 0  0px 8px 0 rgba(255, 255, 255, 0.15);
    border-radius: 2em;
    border: 1px solid rgba(255, 255, 255, 0.25);
}